 ul#navigation {
 padding: 0;
 margin: 0;
 background-color: #039;
 color: #fff;
 float: left;
 width: 100%;
 }
 ul#navigation li { display: inline; }
 ul#navigation li a {
 padding: .25em 1em;
 background-color: #039;
 color: #fff;
 text-decoration: none;
 float: left;
 border-bottom: solid 1px #fff;
 border-top: solid 1px #fff;
 border-right: solid 1px #fff;
 }
 a:link, a:visited { color: #fff; }
 ul#navigation li a:hover {
 color: #000;
 background-color: #fff;
 } 